*{
    background-color: #FFF9F1;
}
.head1{
    background-color: rgba(61, 61, 61, 0);
    position: relative;
    top: 130px;
    left: 300px;
}
.imf{
    /* 右侧表单 */
    position: absolute; 
    top: 400px;
    left: 200px;
    font-size: 30px;
    
}


input[type="text"]{
    width: 300px;
    appearance: none;
    /* border: none; */
    border-color: #cccccc;
    outline: none;
    background-color: #FFFFFF;
    padding: 20px;
    font-size: 20px;
    color: #888888;

}
input[type="button"]{
    position: relative;
    top: 30px;
    left: 150px;
    background-color: rgba(242,173,122,1);
    color: #fff;
    border: none;
    border-radius: 20px;/*设置了圆角和内边距 */
    padding:25px 55px;
    font-size: 30px;
    cursor: pointer;
    /* 最后使用cursor属性将光标变成手型，增强按钮的交互性。 */
}