<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>maoliang_test</display-name>

	<servlet>
		<description>
		</description>
		<display-name>changepwdservlet</display-name>
		<servlet-name>changepwdservlet</servlet-name>
		<servlet-class>changeservlet.changepwdservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>successsearchservlet</display-name>
		<servlet-name>successsearchservlet</servlet-name>
		<servlet-class>changeservlet.successsearchservlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>allgoodservlet</display-name>
		<servlet-name>allgoodservlet</servlet-name>
		<servlet-class>goodservlet.allgoodservlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>confirmorderservlet</display-name>
		<servlet-name>confirmorderservlet</servlet-name>
		<servlet-class>goodservlet.confirmorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>creategoodservlet</display-name>
		<servlet-name>creategoodservlet</servlet-name>
		<servlet-class>goodservlet.creategoodservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deletegoodservlet</display-name>
		<servlet-name>deletegoodservlet</servlet-name>
		<servlet-class>goodservlet.deletegoodservlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>failorderservlet</display-name>
		<servlet-name>failorderservlet</servlet-name>
		<servlet-class>goodservlet.failorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sellinggoodservlet</display-name>
		<servlet-name>sellinggoodservlet</servlet-name>
		<servlet-class>goodservlet.sellinggoodservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showgoodservlet</display-name>
		<servlet-name>showgoodservlet</servlet-name>
		<servlet-class>goodservlet.showgoodservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>successorderservlet</display-name>
		<servlet-name>successorderservlet</servlet-name>
		<servlet-class>goodservlet.successorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createmoregoodservlet</display-name>
		<servlet-name>createmoregoodservlet</servlet-name>
		<servlet-class>goodservlet.createmoregoodservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchgoodservlet</display-name>
		<servlet-name>searchgoodservlet</servlet-name>
		<servlet-class>goodservlet.searchgoodservlet</servlet-class>
	</servlet>


	<servlet>
		<description>
		</description>
		<display-name>loginservlet</display-name>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>loginservlet.loginservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>quitloginservlet</display-name>
		<servlet-name>quitloginservlet</servlet-name>
		<servlet-class>loginservlet.quitloginservlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>allorderservlet</display-name>
		<servlet-name>allorderservlet</servlet-name>
		<servlet-class>orderservlet.allorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createorderservlet</display-name>
		<servlet-name>createorderservlet</servlet-name>
		<servlet-class>orderservlet.createorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteorderservlet</display-name>
		<servlet-name>deleteorderservlet</servlet-name>
		<servlet-class>orderservlet.deleteorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>userorderservlet</display-name>
		<servlet-name>userorderservlet</servlet-name>
		<servlet-class>orderservlet.userorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registerservlet</display-name>
		<servlet-name>registerservlet</servlet-name>
		<servlet-class>registerservlet.registerservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>allhistorygoodservlet</display-name>
		<servlet-name>allhistorygoodservlet</servlet-name>
		<servlet-class>goodservlet.allhistorygoodservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>chooseregisterservlet</display-name>
		<servlet-name>chooseregisterservlet</servlet-name>
		<servlet-class>registerservlet.chooseregisterservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>forgetservlet</display-name>
		<servlet-name>forgetservlet</servlet-name>
		<servlet-class>forgetservlet.forgetservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePriceServlet</display-name>
		<servlet-name>UpdatePriceServlet</servlet-name>
		<servlet-class>goodservlet.UpdatePriceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>allcustomservlet</display-name>
		<servlet-name>allcustomservlet</servlet-name>
		<servlet-class>allcusservlet.allcustomservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>allcartservlet</display-name>
		<servlet-name>allcartservlet</servlet-name>
		<servlet-class>goodservlet.allcartservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createcartservlet</display-name>
		<servlet-name>createcartservlet</servlet-name>
		<servlet-class>goodservlet.createcartservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>modifycartservlet</display-name>
		<servlet-name>modifycartservlet</servlet-name>
		<servlet-class>goodservlet.modifycartservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addlikeservlet</display-name>
		<servlet-name>addlikeservlet</servlet-name>
		<servlet-class>goodservlet.addlikeservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showlikeservlet</display-name>
		<servlet-name>showlikeservlet</servlet-name>
		<servlet-class>goodservlet.showlikeservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showlikeservlet1</display-name>
		<servlet-name>showlikeservlet1</servlet-name>
		<servlet-class>goodservlet.showlikeservlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addlikeservlet1</display-name>
		<servlet-name>addlikeservlet1</servlet-name>
		<servlet-class>goodservlet.addlikeservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>buyerdeleteorderservlet</display-name>
		<servlet-name>buyerdeleteorderservlet</servlet-name>
		<servlet-class>orderservlet.buyerdeleteorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>buyerconfirmorderservlet</display-name>
		<servlet-name>buyerconfirmorderservlet</servlet-name>
		<servlet-class>orderservlet.buyerconfirmorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sellerconfirmorderservlet</display-name>
		<servlet-name>sellerconfirmorderservlet</servlet-name>
		<servlet-class>orderservlet.sellerconfirmorderservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>createcartorderservlet</display-name>
		<servlet-name>createcartorderservlet</servlet-name>
		<servlet-class>orderservlet.createcartorderservlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>changepwdservlet</servlet-name>
		<url-pattern>/changepwdservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>successsearchservlet</servlet-name>
		<url-pattern>/successsearchservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allgoodservlet</servlet-name>
		<url-pattern>/allgoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>confirmorderservlet</servlet-name>
		<url-pattern>/confirmorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>creategoodservlet</servlet-name>
		<url-pattern>/creategoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deletegoodservlet</servlet-name>
		<url-pattern>/deletegoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sellinggoodservlet</servlet-name>
		<url-pattern>/sellinggoodservlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>showgoodservlet</servlet-name>
		<url-pattern>/showgoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>successorderservlet</servlet-name>
		<url-pattern>/successorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>failorderservlet</servlet-name>
		<url-pattern>/failorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>quitloginservlet</servlet-name>
		<url-pattern>/quitloginservlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>allorderservlet</servlet-name>
		<url-pattern>/allorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createorderservlet</servlet-name>
		<url-pattern>/createorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteorderservlet</servlet-name>
		<url-pattern>/deleteorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userorderservlet</servlet-name>
		<url-pattern>/userorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerservlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createmoregoodservlet</servlet-name>
		<url-pattern>/createmoregoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchgoodservlet</servlet-name>
		<url-pattern>/searchgoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allhistorygoodservlet</servlet-name>
		<url-pattern>/allhistorygoodservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chooseregisterservlet</servlet-name>
		<url-pattern>/chooseregisterservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forgetservlet</servlet-name>
		<url-pattern>/forgetservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePriceServlet</servlet-name>
		<url-pattern>/UpdatePriceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allcustomservlet</servlet-name>
		<url-pattern>/allcustomservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allcartservlet</servlet-name>
		<url-pattern>/allcartservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createcartservlet</servlet-name>
		<url-pattern>/createcartservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>modifycartservlet</servlet-name>
		<url-pattern>/modifycartservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addlikeservlet</servlet-name>
		<url-pattern>/addlikeservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showlikeservlet</servlet-name>
		<url-pattern>/showlikeservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showlikeservlet1</servlet-name>
		<url-pattern>/showlikeservlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addlikeservlet1</servlet-name>
		<url-pattern>/addlikeservlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buyerdeleteorderservlet</servlet-name>
		<url-pattern>/buyerdeleteorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buyerconfirmorderservlet</servlet-name>
		<url-pattern>/buyerconfirmorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sellerconfirmorderservlet</servlet-name>
		<url-pattern>/sellerconfirmorderservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>createcartorderservlet</servlet-name>
		<url-pattern>/createcartorderservlet</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
